*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/*header*/
.D-redes{
    background-color: #A062F4;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.info a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
    margin-right: 50px;
}
.redes a{
    color: white;
    padding-left: 20px;
    font-size: 20px;
    margin-right: 50px;
}
.fixed{
    position: fixed;
    width: 100%;
}
.static{
    position: fixed;
    width: 100%;
    top: 0px;
}
nav{
    border-bottom: 1px solid black;
    background-color: white;
}
.imagen_l{
    height: 90px;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style:none;
    height: 80px;
    align-items: center;
}
li a{
    color: black;
}
li:hover{
    transform: translateY(20px);
    transition: 1s;
}

.trabajar{
    height: 30px;
    width: 200px;
    background-color: #7648B5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    animation: trabajar 5s infinite;

}
@keyframes trabajar {
    0%{
        transform: translateY(-50px);
    }
    30%{
        transform: translateY(0) rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
}

marquee{
    margin-top: 120px;
    color: black;
}
.soloNails{
    display: flex;
    justify-content: space-around;
    margin-right: 500px;
}
.nosotros_{
    position: relative;
    top: 100px;
    left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;

}
.nosotros_ p{
    width: 300px;
}
.container-slider{
    width: 50%;
    max-width: 800px;
    margin: auto;
    margin-top: 200px;
    overflow: hidden;
    border-radius: 20px;
}
.slider{
    display: flex;
    width: 400%;
    height: 400px;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
}
/* object-fit: cover;*/
/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
    /* Estilos para cambiar la disposición del diseño */
    body {
      flex-direction: column;
    }
    /* Estilos para cambiar el tamaño de los elementos */
    header {
      font-size: 1.2em;
    }
    /* Estilos para ocultar o mostrar elementos */
    .sidebar {
      display: none;
    }
  }

.referencia{
    margin-top:120px;
    height: 200px;
    width: 100%;
    background-color: #F74AEB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*section 1*/

.nosotros{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card__father{
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .card{
    transform: rotateY(180deg);
    transition: 1s;
}


.card{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back{
    transform: rotateY(180deg);
    background: white;
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body__card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p{
    margin-top: 30px;
    font-size: 18px;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}
@keyframes Agenda {
    0%{
        transform: translateY(-50px);
    }
    30%{
        transform: translateY(0) rotate(5deg);
    }
    50%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
}
.solo_whatsapp{
    position: fixed;
    top: 85%;
    left: 95%;
    font-size: 50px;
    color: green;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
/*section 2*/

.container_cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}
.cards:hover{
    width: 350px;
}
.cards .covers{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.cards .covers img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}
.cards:hover .covers img{
    top: 0px;
    filter: none;
}
.cards .img_back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}
.cards:nth-of-type(1) .img_back{
    background-image: url(/imagenes/fondo.jpg);
}
.cards:nth-of-type(2) .img_back{
    background-image: url(/imagenes/fondo.jpg);
}
.cards:nth-of-type(3) .img_back{
    background-image: url(/imagenes/fondo.jpg);
}
.cards:nth-of-type(4) .img_back{
    background-image: url(/imagenes/fondo.jpg);
}
.cards:nth-of-type(5) .img_back{
    background-image: url(/imagenes/fondo.jpg);
}
.cards:nth-of-type(6) .img_back{
    background-image: url(/imagenes/fondo.jpg);
}

.cards:hover .img__back{
    bottom: -40px;
}

.cards .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.cards:hover .description{
    padding: 40px;
}

.cards .description h2{
    margin-top: 10px;
}

.cards .description p{
    margin-top: 10px;
}

.cards .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.cards .description input:hover{
    background: #83277b;
}
/*@media screen and (max-width:1200px) {
    .{
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 100px;
        padding-bottom: 100px;
    }
}*/